@charset "UTF-8";

@font-face {
    font-family:"android";
    src: url(idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: #3cdb91;

}

a{
    color: #037034;
    font-weight: bold;

}
header{
    margin: auto;
    padding-top: 40px;
    background-image:linear-gradient(to top,#037034,#01a03e,#58f079d7);
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

h1#titulo{
    font-family:'android';
    text-align: left;
    color: #037034;
}

h1#titulo_gradient{
    font-family:'android';
    text-align: left;
    background-image: linear-gradient(to right,#0ae25dbd,#4af38bd8, white 85%);
    color:#037034;
}

h2{
    color: white;
    background-color: #03b36f;
    border-radius:15px;
    padding: 0px;
    
}



h3{
    color: lightgray;
    text-align: center;
    margin: 50px;
}

nav{
    color: white;
    font-weight: bold;
    margin:-30px;
}

nav > a {
    text-decoration: none;
    margin-right:  10px;
    color: white;
}

nav >a:hover{
    background-color: #025a29;
    color: white;
    font-weight: bold;
    
}
main{
    
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    padding: 10px;
    box-shadow: 1px 1px 1px black;
    margin: auto;
}

main img{
    width: 100%;

}

main img.pequena{
    max-width: 50%;
}

section#assunto1{
    text-indent: 10px;
   margin: auto;
    
}

div#video_box{
    display: block;
    background-color: #025a29;
    margin-right: -10px;
    margin-left:-10px;
    text-align: center;
}

article{
    text-align: center;
}

span.destaque{
    color: #037034;
    font-weight: bold;
}


span{
    color: white;
}


aside{
    background-color: #b1eed2;
    padding:0px;
    border-radius:15px;
}

aside > p {
    text-indent: 10px;
    text-align:left;

}

aside > ul {
    list-style-type: "✔";
    list-style-position: inside;
    columns: 2;
}

footer{
    font-weight: bold;
    text-align: center;
    color: lightgray;
    background-color: #037034;
    padding: 0px;
    margin: 0px;
}